* {
  margin: 0;
  padding: 0;
}

.limite {
  width: 85%;
  margin: auto;
}

header .limite {
  height: 100px;
  background-color: #fdfeff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 40px;
}

.menu ul li {
  font-size: 18px;
  color: #4b4b4b;
  padding-top: 5px;
}

.menu-input {
  display: flex;
  align-items: center;
  gap: 30px;
}

.input {
  display: flex;
  align-items: center;
  gap: 17px;
  background-color: #eff3f8;
  padding: 10px 18px;
  border-radius: 8px;
}

.input img {
  max-width: 100%;
  display: block;
}

.input input {
  background-color: #eff3f8;
  border: none;
  outline: none;
}

.perfil {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #4b4b4b;
  gap: 10px;
}

.perfil img:first-child {
  width: 40px;
}

/* fim do header */
main {
  background-color: #d9e6f7;
}

.container {
  display: flex;
  padding-top: 60px;
}

.perfil-desc div:first-child {
  background-color: #FDFEFF;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #4b4b4b;
  border-radius: 18px;
}

.perfil-desc div:first-child img {
  width: 180px;
  border-radius: 50%;
  outline: solid 3px #ed2590;
  margin: 25px 0;
}

.perfil-desc div:first-child h2 {
  font-size: 24px;
}

.perfil-desc div:first-child p {
  padding: 20px 0;
  font-size: 18px;
}

.perfil-desc div:last-child {
  background-color: #FDFEFF;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  border-radius: 12px;
  font-size: 18px;
  color: #ed2590;
  font-weight: 500;
}

.listas {
  background-color: #fdfeff;
  flex: 1;
  margin: 0 30px;
  border-radius: 25px;
  padding: 30px;
  color: #4b4b4b;
}

.listas h1 {
  font-size: 26px;
}

.listas .bloco-verde {
  background-color: #eff3f8;
  margin: 10px 0;
  padding: 10px;
}

.listas .likes {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

li .icons {
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.atributos li {
  padding: 10px 0;
  display: flex;
  gap: 20px;
  list-style: none;
}

.atributos p {
  color: #b4aeae;
}

.atributos strong {
  color: #4b4b4b;
}

.interesses {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
  margin: 13px 0;
}

.interesses li {
  border: 1px solid #ed2590;
  border-radius: 15px;
  padding: 5px 10px;
}

.pink {
  color: #ed2590;
}

.asides aside {
  width: 280px;
  background-color: #fdfeff;
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 30px;
}

.asides .aside-title {
  display: flex;
  justify-content: space-between;
}

.asides .aside-title h3 {
  font-size: 20px;
  color: #4b4b4b;
}

.users {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.users .user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media(max-width: 480px) {
  nav {
    display: none;
  }

  .input {
    display: none;
  }

  .perfil p {
    display: none;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .perfil-desc div:first-child {
    width: 80vw;
  }

  .delet {
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .listas {
    width: 70vw;
    margin-bottom: 30px;
  }

  .listas h1 {
    font-size: 22px;
  }

  .bloco-verde {
    font-size: 14px;
  }

  .likes {
    margin: 20px 0;
  }

  .atributos p,
  .atributos strong,
  .interesses p {
    font-size: 14px;
  }

  .interesses li {
    font-size: 11px;
  }

  .asides aside {
    width: 70vw;
  }
}